* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

nav {
    position: fixed;
    width: 100%;
    background-color: #1e3333;
    padding: 10px;
    color: white;
}

.navList {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    justify-content: space-around;
    font-size: 2em;
    font-family: 'Amatic SC', sans-serif;
}

.navList li {
    cursor: pointer;
}

.navList li:active {
    /* color: blue; */
}

main {
    font-family: 'Crimson Text', sans-serif;
    background-color: #edf6ff;
}
/* Header Section */
#header {
    padding-top: 60px;
}

h1 {
    text-align: center;
    margin-top: 30px;
    letter-spacing: 1.5px;
    font-size: 45px;
}

/* About Section */
.about {
    padding: 30px 60px;
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.textContainer {
    text-align: left;
}

.text {
    padding: 7px;
    letter-spacing: 1.5px;
    font-size: 20px;
}

.aboutImage {
    padding-top: 10px;
    text-align: center;
}

/* Projects Section */
#projects {
    padding: 60px;
    text-align: center;
}

#projects h2 {
    margin-bottom: 15px;
    letter-spacing: 1.5px;
    font-size: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thumbnail {
    height: 30em;
    width: 40em;
}

#projects p {
    text-align: left;
    display: inline;
    font-size: 20px;
}

.techIconContainer {
    display: inline;
    padding: 10px;
}

.techIcons {
    height: 40px;
    width: 40px;
    margin: 0 20px;
}

.linksContainer {
    display: inline;
    text-align: center;
    font-size: 20px;
    margin-top: 15px; 
}

.linksContainer a {
    margin: 0 10px;
}  



/* Contact Section */
#contact {
    padding: 30px 60px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact h2 {
    font-size: 30px;
}

#contact p {    
    text-align: center;
    font-size: 20px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-bottom: 10px; */
}

.contactContainer {
    display: flex;
}

.icons {
    cursor: pointer;
    margin: 0 40px;
}

#gmail {
    height: 42px;
    width: 50px;
}

#linkedin {
    height: 45px;
    width: 50px;
    position: relative;
    bottom: 1px;
}

#github {
    height: 50px;
    width: 50px;
    position: relative;
    bottom: 4px;
}

@media screen and (max-width: 500px) {

    .about {
        padding: 30px 20px;
    }

    #projects {
        padding: 60px 20px;
    }

    #contact {
        padding: 30px 20px 15px;
    }
    .thumbnail {
        height: 15em;
        width: 19.75em;
    }

    #contact p {
        text-align: left;
    }
}

@media screen and (max-width: 700px) {

    .about {
        padding: 30px 20px;
    }

    #projects {
        padding: 60px 20px;
    }

    #contact {
        padding: 30px 20px 15px;
    }
    .thumbnail {
        height: 20em;
        width: 26.3em;
    }

    #contact p {
        text-align: left;
    }
}

@media screen and (min-width: 701px) and (max-width: 805px) {
    .about {
        padding: 30px 20px;
    }

    #projects {
        padding: 60px 20px;
    }

    #contact {
        padding: 30px 20px 15px;
    }

    #contact p {
        text-align: left;
    }
}